*{
    font-family: 'Oxygen', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --mount-meadow: black ;
    --white-smoke:#f0f0f0;
    --black:#191b17;
    --night-rider:#343434;
    --transition: all 0.5s ease-in-out;
    --border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
    --border-radius-hover:4% 95% 6% 95%/95% 4% 92% 5%;
    --border:.2rem solid var(--main-color);
    --border-hover:.2rem dashed var(--main-color);

}
html{
    color: black;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;

}
/* setup & reusable styling */
/* img{
    width: 100%;

} */
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;
}
button{
    cursor: pointer;
    outline: 0;
    background-color: transparent;

}

.title{
    padding-top: 5rem;
    font-size: 1rem;
    text-align: center;
}

/*  header */
.header{
    
    /* min-height: 100vh; */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #343434;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.header .navbar-collapse a:hover{
    color:var(--black);
    border-bottom: .1rem solid var(--black);
    padding-bottom: .5rem;
}
.brand-and-toggler a:hover{
    color: black;
}

.header .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 1.5rem;
    margin-left: 2rem;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;

}
.brand-and-toggler{
    font-size: 1.65rem;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;

    
}
.navbar-brand{
    font-family: 'Libre Baskerville', serif;;
    font-weight: 800;
    color: var( --night-rider) ;

}
.navbar-brand span{
    color: var( --mount-meadow);
}
.navbar-toggler {
    border: none;
    color: var(--mount-meadow);
}
.navbar-nav{
    margin: 0.2rem 0 0.6rem 0;

}
.nav-item{
    padding: 0.6rem 0;

}
.nav-link{
    text-transform: uppercase;
    font-size: 0.95rem;
    letter-spacing: 1.5px;
    font-weight: 400;
    opacity: 0.65;
    transition: var(--transition);
}
.nav-link:hover{
    color: var( --mount-meadow)!important;
}
.navbar-collapse{
    display: none;
    margin-right: 80px;
}


/* Header End */
/* section */
.section {
    width: 100%;
    min-height: 80vh;
    background-color: #ddd;
}
.section .row .image{
    flex:1 1 42rem;
    
}
.title h1{
    text-shadow: 2px 2px 5px black;
}
.team h1{
    text-shadow: 2px 2px 5px black;
}
.section .row .image img{
    width: 100%;
    animation:aboutImage 4s linear infinite;
    
}

@keyframes aboutImage {
    0%, 100%{
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }
    50%{
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}
.row{
    width: 80%;
    display: block;
    margin: auto;
    /* padding-top: 100px; */
}
.content-section{
    float: left;
    width: 60%;
}
.image  {
    float: right;
    width: 40%;
}
.image img{
    width: 100%;
    height: 40vh;
    margin-top: 10rem;
}
.content-section .title{
    text-transform:uppercase ;
    font-size: 20px;
    color: #343434;
}
.content-section .content h3{
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;

}
.content-section .content.p{
    margin-top: 10px;
    font-family: 'Oxygen';
    font-size: 17px;
    line-height: 1.5;

}
.content-section .content .button{
    margin-top: 30px;
}
.content-section .content .button a{
    background-color: #3d3d3d;
    padding: 12px 40px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    letter-spacing: 1.5px;
    

}
.content-section .content .button a:hover{
    background-color: black;
    color: #fff;
}
.content-section .social{
    margin:40px 40px;

}
.content-section .social i{
    color: #3d3d3d;
    font-size: 30px;
    padding: 0px 10px;
}
.content-section .social i:hover{
    color: black;
}
/* our team */
.container-fluid{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    font-family: 'Oxygen';
    background: #ddd;

}
.team h1{
    font-size: 40px;
    margin-top: 20px;
    color: black;
    text-align: center;
    background-color: #ddd;
    margin: 0;
}
.container-fluid{
  display:flex ;
  justify-content: center;
  flex-wrap: wrap;  
}
.card{
    height: 550px;
    width: 290px;
    margin:20px;
    box-shadow: 5px 3px 5px #000;
    border-radius: 10px;
    overflow: hidden;
    text-align: center; 
    background-color: #fff;


}
.card .bg-image img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    clip-path: polygon(0 0,100% 0%,100% 70%,45% 100%,0 70%);
}
.card .pic img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 10px solid black;
    margin-top: -90px;
    position: relative;
}
.card .info h3{
    color: #343434;
    font-size: 20px;
    padding: 10px 0;
}
.card .info span{
    font-size: 15px;
    color: #000;
}
.card .info p{
    font-size: 13px;
    padding: 10px 20px;
    color: #999;
}
.card .info .icons a{
    font-size: 20px;
    text-decoration: none;
    color: #000;
    margin-top: 0px;
    padding: 0 5px;
}
.card .info .icons a:hover{
    color: #343434;

}
/* our team end */
/* Footer */
.footer{
    text-align: center;
    background: var(--black);
    color: var(--white-smoke);
    padding-left: 2rem 0;
    height:30vh;
    }
    .footer .text{
        opacity: 0.8;
        padding-top: 3rem ;
    }
    .footer-links{
        display: flex;
        justify-content: center;
        margin-top: 1.6rem;
    }
    .footer-links a{
        color: var(--white-smoke);
        opacity: 0.8;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: var(--transition);
    }
    .footer-links a:hover{
        background: var(--night-rider);
    }
    /* Footer End */
    /* -------------992 Display----------------- */
@media screen and (min-width:992px){
    .navbar{
background: transparent;
margin-top: 1.4rem;
    }
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-brand{
        color: var(--white-smoke);
        font-size: 2rem;

    }
    .navbar-toggler{
        display: none;
    }
    .navbar-collapse{
        display: block!important;
    }
    .navbar-nav{
        display: flex;
        margin: 0;

    }
    .nav-item{
        margin-left: 1.8rem;
    }
    .nav-link{
        color: var(--white-smoke);
    }
    .hero-div h1{
        font-size: 3.8rem;
    }
    
    /* navbar change */
    .navbar{
        -webkit-box-shadow: 0 2px 5px 0 rgba(207,205,207,0.3);
        -moz-box-shadow:0 2px 5px 0 rgba(207,205,207,0.3);
        box-shadow: 0 2px 5px 0 rgba(207,205,207,0.3);
        margin-top: 0;
        background: #fff;
    }
    .cng-navbar .navbar-brand{
        color: var(--night-rider);

    }
    .cng-navbar .nav-link{
        color: var(--night-rider);
    }
    .footer{
        height: 30vh;
    }
    .footer .text{
        padding-top: 5rem;
    }
    .title h1{
        padding-top: 3rem;
    }
    
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image{
	float:none;
	width:100%;
	
}
.image img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}
.footer{
height: 40vh;
}

}

